<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#JSON-and-XML---Lab" data-toc-modified-id="JSON-and-XML---Lab-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>JSON and XML - Lab</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#XML" data-toc-modified-id="XML-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>XML</a></span><ul class="toc-item"><li><span><a href="#Create-an-XML-tree-and-retrieve-the-root-tag." data-toc-modified-id="Create-an-XML-tree-and-retrieve-the-root-tag.-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Create an XML tree and retrieve the root tag.</a></span></li><li><span><a href="#How-many-direct-descendents-does-the-root-tag-have?" data-toc-modified-id="How-many-direct-descendents-does-the-root-tag-have?-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>How many direct descendents does the root tag have?</a></span></li><li><span><a href="#How-many-different-types-of-tags-are-there-within-the-entire-XML-file?" data-toc-modified-id="How-many-different-types-of-tags-are-there-within-the-entire-XML-file?-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>How many different types of tags are there within the entire XML file?</a></span></li><li><span><a href="#Create-a-DataFrame-listing-the-number-of-each-type-of-tag." data-toc-modified-id="Create-a-DataFrame-listing-the-number-of-each-type-of-tag.-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Create a DataFrame listing the number of each type of tag.</a></span></li></ul></li><li><span><a href="#JSON" data-toc-modified-id="JSON-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>JSON</a></span><ul class="toc-item"><li><span><a href="#Open-the-same-dataset-from-json" data-toc-modified-id="Open-the-same-dataset-from-json-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Open the same dataset from json</a></span></li><li><span><a href="#What-is-the-root-data-type-of-the-json-file?" data-toc-modified-id="What-is-the-root-data-type-of-the-json-file?-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>What is the root data type of the json file?</a></span></li><li><span><a href="#Navigate-to-the-'data'-key-of-your-loaded-json-object.-What-data-type-is-this?" data-toc-modified-id="Navigate-to-the-'data'-key-of-your-loaded-json-object.-What-data-type-is-this?-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Navigate to the 'data' key of your loaded json object. What data type is this?</a></span></li><li><span><a href="#Preview-the-first-entry-from-the-value-returned-by-the-'data'-key-above." data-toc-modified-id="Preview-the-first-entry-from-the-value-returned-by-the-'data'-key-above.-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Preview the first entry from the value returned by the 'data' key above.</a></span></li><li><span><a href="#Preview-the-Entry-under-meta-->-view-->-columns-(the-keys-of-three-successively-nested-dictionaries)" data-toc-modified-id="Preview-the-Entry-under-meta-->-view-->-columns-(the-keys-of-three-successively-nested-dictionaries)-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Preview the Entry under meta -&gt; view -&gt; columns (the keys of three successively nested dictionaries)</a></span></li><li><span><a href="#Create-a-DataFrame-from-your-json-data" data-toc-modified-id="Create-a-DataFrame-from-your-json-data-1.4.6"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Create a DataFrame from your json data</a></span></li><li><span><a href="#What's-wrong-with-the-first-row-of-the-DataFrame?" data-toc-modified-id="What's-wrong-with-the-first-row-of-the-DataFrame?-1.4.7"><span class="toc-item-num">1.4.7&nbsp;&nbsp;</span>What's wrong with the first row of the DataFrame?</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Summary</a></span></li></ul></li></ul></div>

# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [39]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [40]:
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot() #retrieve the root tag.

### How many direct descendents does the root tag have?

In [41]:
#Answer: 1
count = 0 #start an initial count of 0
for child in root:
    count += 1
print(count)

1

### How many different types of tags are there within the entire XML file?

In [42]:
tags = [] #start a list for tags
for element in root.iter():
    tags.append(element.tag)
print(len(set(tags))) #set will help you find individual elements (not repeats)

13

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [43]:
import pandas as pd

In [44]:
tags = {}
for element in root.iter():
    tags[element.tag] = tags.get(element.tag, 0) + 1
df = pd.DataFrame.from_dict(tags, orient = 'index')
df.columns = ['count'] #give column name
df = df.sort_values(by='count', ascending=False)
df.head()

          count
row         286
candid      285
candname    285
canclass    285
election    284

## JSON

### Open the same dataset from json

In [45]:
import json
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [46]:
type(data)

dict

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [47]:
type(data['data'])

list

### Preview the first entry from the value returned by the 'data' key above.

In [48]:
display(data['data'][0])

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [35]:
data['meta']['view']['columns']

[{'id': -1,
  'name': 'sid',
  'dataTypeName': 'meta_data',
  'fieldName': ':sid',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'id',
  'dataTypeName': 'meta_data',
  'fieldName': ':id',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'position',
  'dataTypeName': 'meta_data',
  'fieldName': ':position',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'created_at',
  'dataTypeName': 'meta_data',
  'fieldName': ':created_at',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'created_meta',
  'dataTypeName': 'meta_data',
  'fieldName': ':created_meta',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'updated_at',
  'dataTypeName': 'meta_data',
  'fieldName': ':updated_at',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'updated_meta',
  'dataTypeName': 'meta_data',
  'fieldName': ':updated_meta',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': -1,
  'name': 'meta',
  'dataTypeName': 'meta_data',
  'fieldName': ':meta',
  'position': 0,
  'renderTypeName': 'meta_data',
  'format': {},
  'flags': ['hidden']},
 {'id': 75768833,
  'name': 'ELECTION',
  'dataTypeName': 'number',
  'fieldName': 'election',
  'position': 2,
  'renderTypeName': 'number',
  'tableColumnId': 1518991,
  'width': 196,
  'cachedContents': {'non_null': 284,
   'average': '2001',
   'largest': '2001',
   'null': 1,
   'top': [{'item': '2001', 'count': 20}],
   'smallest': '2001',
   'sum': '568284'},
  'format': {'precisionStyle': 'standard',
   'noCommas': 'true',
   'align': 'right'}},
 {'id': 75768834,
  'name': 'CANDID',
  'dataTypeName': 'text',
  'fieldName': 'candid',
  'position': 3,
  'renderTypeName': 'text',
  'tableColumnId': 1518992,
  'width': 172,
  'cachedContents': {'non_null': 285,
   'largest': 'YA',
   'null': 0,
   'top': [{'item': '490', 'count': 20},
    {'item': '577', 'count': 19},
    {'item': 'GF', 'count': 18},
    {'item': '265', 'count': 17},
    {'item': '549', 'count': 16},
    {'item': '260', 'count': 15},
    {'item': 'DH', 'count': 14},
    {'item': '168', 'count': 13},
    {'item': '561', 'count': 12},
    {'item': '317', 'count': 11},
    {'item': '240', 'count': 10},
    {'item': 'B1', 'count': 9},
    {'item': '337', 'count': 8},
    {'item': '202', 'count': 7},
    {'item': 'DP', 'count': 6},
    {'item': '554', 'count': 5},
    {'item': '529', 'count': 4},
    {'item': '521', 'count': 3},
    {'item': 'CY', 'count': 2},
    {'item': '327', 'count': 1}],
   'smallest': '148'},
  'format': {}},
 {'id': 75768835,
  'name': 'CANDNAME',
  'dataTypeName': 'text',
  'fieldName': 'candname',
  'position': 4,
  'renderTypeName': 'text',
  'tableColumnId': 1518993,
  'width': 196,
  'cachedContents': {'non_null': 285,
   'largest': 'Zett, Lori M',
   'null': 0,
   'top': [{'item': 'Taitt, Samuel A', 'count': 20},
    {'item': 'Taliaferro, Phyllis', 'count': 19},
    {'item': 'Taveras, Germania', 'count': 18},
    {'item': 'Thakral, Jairam D', 'count': 17},
    {'item': 'Thomas, Carl W', 'count': 16},
    {'item': 'Thompson, Jr., William C', 'count': 15},
    {'item': 'Tiraco, Joseph E', 'count': 14},
    {'item': 'Toney, Vaughan', 'count': 13},
    {'item': 'Toppin, Roger N', 'count': 12},
    {'item': 'Torres, Mario A', 'count': 11},
    {'item': 'Vallone, Jr., Peter F', 'count': 10},
    {'item': 'Vallone, Peter F', 'count': 9},
    {'item': 'Van Bramer, James G', 'count': 8},
    {'item': 'Vann, Albert', 'count': 7},
    {'item': 'Vargas, Ruben Dario', 'count': 6},
    {'item': 'Vassos, Sandra', 'count': 5},
    {'item': 'Vernet, Jean D', 'count': 4},
    {'item': 'Viest, Nicholas D', 'count': 3},
    {'item': 'Villaverde, Sergio', 'count': 2},
    {'item': 'Vogel, Mark H', 'count': 1}],
   'smallest': 'Aboulafia, Sandy'},
  'format': {}},
 {'id': 75768836,
  'name': 'OFFICECD',
  'dataTypeName': 'number',
  'fieldName': 'officecd',
  'position': 5,
  'renderTypeName': 'number',
  'tableColumnId': 1518994,
  'width': 196,
  'cachedContents': {'non_null': 284,
   'average': '4.700704225352113',
   'largest': '5',
   'null': 1,
   'top': [{'item': '5', 'count': 20},
    {'item': '1', 'count': 19},
    {'item': '3', 'count': 18},
    {'item': '4', 'count': 17},
    {'item': '2', 'count': 16}],
   'smallest': '1',
   'sum': '1335'},
  'format': {}},
 {'id': 75768837,
  'name': 'OFFICEBORO',
  'dataTypeName': 'text',
  'fieldName': 'officeboro',
  'position': 6,
  'renderTypeName': 'text',
  'tableColumnId': 1518995,
  'width': 220,
  'cachedContents': {'non_null': 21,
   'largest': 'X',
   'null': 264,
   'top': [{'item': 'OFFICEBORO', 'count': 20},
    {'item': 'X', 'count': 19},
    {'item': 'M', 'count': 18},
    {'item': 'K', 'count': 17},
    {'item': 'Q', 'count': 16},
    {'item': 'S', 'count': 15}],
   'smallest': 'K'},
  'format': {}},
 {'id': 75768838,
  'name': 'OFFICEDIST',
  'dataTypeName': 'number',
  'fieldName': 'officedist',
  'position': 7,
  'renderTypeName': 'number',
  'tableColumnId': 1518996,
  'width': 220,
  'cachedContents': {'non_null': 245,
   'average': '26.33061224489796',
   'largest': '51',
   'null': 40,
   'top': [{'item': '7', 'count': 20},
    {'item': '32', 'count': 19},
    {'item': '37', 'count': 18},
    {'item': '28', 'count': 17},
    {'item': '19', 'count': 16},
    {'item': '39', 'count': 15},
    {'item': '35', 'count': 14},
    {'item': '42', 'count': 13},
    {'item': '31', 'count': 12},
    {'item': '6', 'count': 11},
    {'item': '47', 'count': 10},
    {'item': '20', 'count': 9},
    {'item': '1', 'count': 8},
    {'item': '27', 'count': 7},
    {'item': '26', 'count': 6},
    {'item': '10', 'count': 5},
    {'item': '34', 'count': 4},
    {'item': '45', 'count': 3},
    {'item': '40', 'count': 2},
    {'item': '12', 'count': 1}],
   'smallest': '1',
   'sum': '6451'},
  'format': {}},
 {'id': 75768839,
  'name': 'CANCLASS',
  'dataTypeName': 'text',
  'fieldName': 'canclass',
  'position': 8,
  'renderTypeName': 'text',
  'tableColumnId': 1518997,
  'width': 196,
  'cachedContents': {'non_null': 285,
   'largest': 'P',
   'null': 0,
   'top': [{'item': 'CANCLASS', 'count': 20}, {'item': 'P', 'count': 19}],
   'smallest': 'CANCLASS'},
  'format': {}},
 {'id': 75768840,
  'name': 'PRIMARYPAY',
  'dataTypeName': 'number',
  'fieldName': 'primarypay',
  'position': 9,
  'renderTypeName': 'number',
  'tableColumnId': 1518998,
  'width': 220,
  'cachedContents': {'non_null': 284,
   'average': '112243.9612676056',
   'largest': '2846148.00',
   'null': 1,
   'top': [{'item': '75350.00', 'count': 20},
    {'item': '0', 'count': 19},
    {'item': '91333.00', 'count': 18},
    {'item': '69780.00', 'count': 17},
    {'item': '22172.00', 'count': 16},
    {'item': '65356.00', 'count': 15},
    {'item': '11423.00', 'count': 14},
    {'item': '60152.00', 'count': 13},
    {'item': '75040.00', 'count': 12},
    {'item': '62436.00', 'count': 11},
    {'item': '42075.00', 'count': 10},
    {'item': '74920.00', 'count': 9},
    {'item': '38088.00', 'count': 8},
    {'item': '74850.00', 'count': 7},
    {'item': '89502.00', 'count': 6},
    {'item': '74350.00', 'count': 5},
    {'item': '58348.00', 'count': 4},
    {'item': '55100.00', 'count': 3},
    {'item': '508893.00', 'count': 2},
    {'item': '74750.00', 'count': 1}],
   'smallest': '0',
   'sum': '31877285.00'},
  'format': {}},
 {'id': 75768841,
  'name': 'GENERALPAY',
  'dataTypeName': 'number',
  'fieldName': 'generalpay',
  'position': 10,
  'renderTypeName': 'number',
  'tableColumnId': 1518999,
  'width': 220,
  'cachedContents': {'non_null': 284,
   'average': '28753.57394366197',
   'largest': '976545.00',
   'null': 1,
   'top': [{'item': '0', 'count': 20},
    {'item': '75350.00', 'count': 19},
    {'item': '201131.00', 'count': 18},
    {'item': '39760.00', 'count': 17},
    {'item': '57796.00', 'count': 16},
    {'item': '75200.00', 'count': 15},
    {'item': '68234.00', 'count': 14},
    {'item': '5732.00', 'count': 13},
    {'item': '58488.00', 'count': 12},
    {'item': '62184.00', 'count': 11},
    {'item': '44748.00', 'count': 10},
    {'item': '21946.00', 'count': 9},
    {'item': '70500.00', 'count': 8}],
   'smallest': '0',
   'sum': '8166015.00'},
  'format': {}},
 {'id': 75768842,
  'name': 'RUNOFFPAY',
  'dataTypeName': 'number',
  'fieldName': 'runoffpay',
  'position': 11,
  'renderTypeName': 'number',
  'tableColumnId': 1519000,
  'width': 208,
  'cachedContents': {'non_null': 284,
   'average': '7776.778169014085',
   'largest': '711537.00',
   'null': 1,
   'top': [{'item': '0', 'count': 20},
    {'item': '267331.00', 'count': 19},
    {'item': '574387.00', 'count': 18},
    {'item': '303270.00', 'count': 17},
    {'item': '711537.00', 'count': 16},
    {'item': '114407.00', 'count': 15},
    {'item': '237673.00', 'count': 14}],
   'smallest': '0',
   'sum': '2208605.00'},
  'format': {}},
 {'id': 75768843,
  'name': 'TOTALPAY',
  'dataTypeName': 'number',
  'fieldName': 'totalpay',
  'position': 12,
  'renderTypeName': 'number',
  'tableColumnId': 1519001,
  'width': 196,
  'cachedContents': {'non_null': 284,
   'average': '148774.3133802817',
   'largest': '4534230.00',
   'null': 1,
   'top': [{'item': '0', 'count': 20},
    {'item': '75350.00', 'count': 19},
    {'item': '150700.00', 'count': 18},
    {'item': '2458534.00', 'count': 17},
    {'item': '133146.00', 'count': 16},
    {'item': '75200.00', 'count': 15},
    {'item': '68234.00', 'count': 14},
    {'item': '70664.00', 'count': 13},
    {'item': '58488.00', 'count': 12},
    {'item': '50112.00', 'count': 11},
    {'item': '62184.00', 'count': 10},
    {'item': '44748.00', 'count': 9},
    {'item': '21946.00', 'count': 8},
    {'item': '41656.00', 'count': 7},
    {'item': '61260.00', 'count': 6},
    {'item': '145850.00', 'count': 5},
    {'item': '35808.00', 'count': 4},
    {'item': '12172.00', 'count': 3}],
   'smallest': '0',
   'sum': '42251905.00'},
  'format': {}}]

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [49]:
df = pd.DataFrame(data['data'])
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

### What's wrong with the first row of the DataFrame?

In [52]:
df.meta.iloc[0]

'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}'

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!